.body {
	background-color: darkseagreen;
	color: darkslateblue;
	font-family: Questrial, sans-serif;
}

.legend {
	width: 10%;
   	background-color: rgba(255,255,255,0.8);
    border: solid black 1px;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-bottom .leaflet-control-zoom {
top:50%;
transform: translateY(-50%);
}

.leaflet-sidebar-header {
    background-color: #426230;
}

.leaflet-sidebar-tabs {
    background-color: rgba(255, 255, 255, 0.95);
}

.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active {
    color: #fff;
    background-color: #426230;
}


.sidebar-content {
	font-family: Questrial, sans-serif;
	
	
	
}

@media (min-width: 768px) {
    .leaflet-sidebar.leaflet-touch {
        height: 75%;
		width: 5%;
    }
}



.legend-control-container {
	width: 150px;
    height: 100px;
	background-color: rgba(255,255,255,0.8);
    padding: 15px;
    line-height: 45px;
    text-align: center;
    border: solid black 1px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	
	#temporal-legend {
	width: 100px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
	}
}

.form {
  padding: 32px;
 
}
	

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#map {
    margin: 0px;
	padding: 0px;
	height:100%;
	width:100%;
    position: absolute;
	z-index:1;
	
    
}

.legend {
    padding: 6px 8px;
	width:180px;
	font-size: 1em;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1.3px solid rgba(96, 96, 96, .6);
	
}

.sidebar-tabs > ul {
	width: 5%;
}



